body{
    
    
    
    width: 500px;
    height: 300px;
    background-position: 10px 20px;
    
    
    
}
#card{
    border:7px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-image:url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    display:flow-root

}
#pop{
    
    float:left;
    width:auto;
    margin-left:10px;
    margin-right:-100px
    
}
h1{
    background-color:rgb(222, 140, 238);
    font-size: 35px;
    color:rgb(120, 2, 24);
    font-weight:bold;
    text-align: center
    
    
}
#para{
    font-size:25px;
    line-height: 25px;
    margin-top:30px;
    margin-bottom:-10px;

    
}
#line{
    background-color: rgb(230, 227, 58);
    margin-top: -50px;
}
    



